p
{
	font-size : 18pt ;
	color : black ;
	text-align: justify;
}

h1
{
	text-align : center ; 
	font-variant : small-caps ;
	font-family : fantasy ; 
	font-size : 40pt ;
}


body
{
	background-image : url('old-paper.jpeg') ;
}

h2
{
	font-size : 25pt;
}

h3
{
	font-size : 25pt ;
	color: darkgreen;
}


h2,h3
{
	font-family: verdana ;
}

img /* this rule applied to all images*/
{
	border-color: black ;
	border-width : medium;
  	border-style : solid;
	margin : 2%;	
}

h1,h2
{
	color : purple ;
}


a /* This rule makes all the links brown.*/
{
	color : brown ;
	
}
.container{
	width: 500px ;
	height: 281px ;	
}

#Top 
{
	color: black;
}

.video
{
	border-color: black;
	border-width: medium;
	border-style:solid;
	padding:0.2%;
	margin-bottom:2%;
	margin-left:40%;
}
		
	
		
